@media screen and (max-width: 600px) {
  h1,
  h4,
  h2 {
    text-align: center;
    color: rgb(42, 42, 87);
  }

  #italic {
    font-style: italic;
    font-weight: bold;
  }

  h1 {
    font-weight: bold;
  }

  #itemH1 {
    margin-left: 7%;
    margin-right: 7%;
    margin-top: 15%;
    opacity: 90%;
    border-radius: 25px;
  }

  #itemH2,
  #itemH4 {
    margin-left: 7%;
    margin-right: 7%;
    margin-top: 1%;
    opacity: 90%;
    border-radius: 30px;
  }
}
