#cont {
  position: absolute;
  top: 50%;
  left: 0%;
  right: 50%;
  margin: 0 auto;
  margin-top: 0;
  margin-left: 0;
}

@media only screen and (max-width: 600px) {
  /* For mobile: */
  .profileContent {
    text-align: center;

    #profileTitle {
      margin-top: 7%;
      margin-bottom: 10%;
      font-size: 26px;
      text-shadow: 1px 2px darkgrey;
    }

    #profileItemUser {
      width: 50%;
      display: flex;
      margin: auto;
      text-align: center;
      opacity: 80%;
      border-radius: 25px;
      font-weight: bold;
    }

    #profileItemPass {
      width: 50%;
      display: flex;
      margin: auto;
      text-align: center;
      opacity: 80%;
      border-radius: 25px;
      font-weight: bold;
    }

    .labelProfile {
      width: 51px;
      margin-left: 2%;
    }

    .profileButton {
      width: 30%;
    }
  }
}
